@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-feature-settings: "cv02", "cv03", "cv04", "cv05", "cv06", "cv08", "zero";
	}
	.icon {
		font-family: "Material Icons Outlined";
		font-weight: normal;
		font-style: normal;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		font-feature-settings: "liga";
	}
}
